#contact {
    align-items: center;
    background: linear-gradient(to right, rgba(0, 4, 16, .8), rgba(0, 4, 16, .8)), url("../images/common-bg.svg") center;
    opacity: 1;
    filter: none;
    transform: translateX(0%);
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    align-items: flex-start;
}

textarea {
    font-size: 1.6rem;
    font-weight: 250;
    resize: none;
    width: 100%;
}

input {
    width: 100%;
}

input[type="text"], input[type="email"] {
    font-size: 1.2rem;
    font-weight: 250;
}

fieldset:invalid {
    color: red;
}