html {
    background-color: rgb(34,39,51);
    color: #DBE8D4;
    text-align: center;
    font-family: Source Sans Pro, sans-serif;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

section {
    min-height: 102vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    filter: blur(0.25rem);
    transform: translateX(-100%);
    transition: all 2s;
}

.socials {
    width: 3vw;
    height: auto;
    background-color: #DBE8D4;
}

.socials:hover {
    background-color: rgb(64,69,111);
}

h1 {
    font-weight: 750;
    font-size: 2rem;
    text-transform: uppercase;
}

a {
    color: #73CCA8;
}

.titleText {
    font-size: 1.2rem;
}

footer {
    color: whitesmoke;
    height: 100%;
    background-color: black;
    bottom: 0;
    padding: 0.1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p, footer div {
    margin-left: auto;
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.imgOverlay {
    height: 90%;
}

#close {
    display: flex;
    background-color: transparent;
    color: #61a5c2;
    border:none;
    box-shadow: none;
    cursor: pointer;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 3rem;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion) {
    section {
        transition: none;
    }
}