header {
    display: flex;
    justify-content: space-between;
}

/* Navbar */
nav {
    background: transparent;
    display: flex;
    justify-content: space-between;
}

/* Navbar Button */
.navbutton {
    display: inline-block;
    background-color: black;
    color: limegreen;
    text-decoration: none;
    padding: 24px;
    font-size: 16px;
    border: none;
    margin: 5px;
}

html, body {
    margin: 0;
    padding: 0;
}