header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 2;
    background-color: rgb(82,94,101);
    height: 10vh;
    align-items: center;
    color: #DBE8D4;
}

header h2 {
    padding-left: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.navbutton {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem;
    font-size: 1rem;
    border: none;
    color: #DBE8D4;
}

.navbutton:hover {
    color: #73CCA8;
    border-bottom: 0.25rem solid #73CCA8;
}