/* Text on the page */
#home {
    align-items: center;
    color: whitesmoke;
    background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../images/common-bg.svg") center;
}

#home h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
}

#home p {
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    font-weight: 400;
}
