/* Navbar */
nav {
    background: transparent;
}

/* Navbar Button */
.navbutton {
    display: inline-block;
    background-color: darkred;
    color: white;
    text-decoration: none;
    padding: 24px;
    font-size: 16px;
    border: none;
}

/* Text on the page */
.body_text {
    text-align: center;
    color: whitesmoke;
}

/* Contact div */
#contact {
    width: 100%;
    color: whitesmoke;
}

#buttons {
    display: flex;
    justify-content: start;
}

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* Hyperlinks */
button {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    text-decoration: none;
    color: deepskyblue;
}

/* background of the page */
html {
    background: url('../Images/home_background.jpg') no-repeat center fixed;
    background-size: 100% 100%;
}