section {
    opacity: 1;
    filter: none;
    transform: translateX(0%);
    background-color: rgb(34,39,51);
    color: #DBE8D4;
    font-size: 1.2rem;
}

section div {
    margin: 0 25%;
    padding: 0;
}

section button {
    background-color: rgb(34,39,51);
    color: #DBE8D4;
    border: #DBE8D4 1px solid;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

section button:hover {
    background-color: #DBE8D4;
    color: rgb(34,39,51);
}

h1 {
    padding-top: 1rem;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

#skills {
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skills h2 {
    text-decoration: underline 0.25rem solid #DBE8D4;
    margin-bottom: 0.25rem;
}

#skills ul {
    margin-top: 0;
    padding: 0;
    list-style-type: circle;
    text-align: start;
}

#links h2 {
    margin-bottom: 0.2rem;
    text-decoration: underline 0.25rem solid #DBE8D4;
}

#links ul {
    margin-top: 0.2rem;
    padding: 0;
}

#images {
    border: 0.1rem solid #DBE8D4;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3rem;
    align-items: center;
}
