#projects {
    background-color: rgb(39,44,56);
}

#projects ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#projects li {
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.5);
    cursor: pointer;
}

#projects li img {
    opacity: 0.1;
    aspect-ratio: 1;
    transition: all 1s;
}

#projects li h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.8);
    transition: all 0.8s;
}