/* Text on the page */
#home {
    align-items: center;
    background: linear-gradient(to right, rgba(0, 4, 16, .8), rgba(0, 4, 16, .8)), url("/public/images/common-bg.svg") center;
}

#home h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
}

#home h3 {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    font-weight: 400;
}

#home h3::after {
    content: "|";
    color: whitesmoke;
    font-size: 1.8rem;
    opacity: 0;
    animation: typing 1s ease infinite;
}

@keyframes typing {
    to {
        opacity: 1;
    }
}
