.projectDetails {
    opacity: 1;
    filter: none;
    transform: translateX(0%);
    background-color: rgb(34,39,51);
    color: #DBE8D4;
    font-size: 1.2rem;
}

.projectDetails div {
    margin: 0 25%;
    padding: 0;
}

.projectDetails button {
    background-color: rgb(34,39,51);
    color: #DBE8D4;
    border: #DBE8D4 1px solid;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.projectDetails button:hover {
    background-color: #DBE8D4;
    color: rgb(34,39,51);
}

.projectDetails h1 {
    padding-top: 4rem;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.projectDetails #skills {
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectDetails #skills h2 {
    text-decoration: underline 0.25rem solid #DBE8D4;
    margin-bottom: 0.25rem;
}

.projectDetails #skills ul {
    margin-top: 0;
    padding: 0;
    list-style-type: circle;
    text-align: start;
}

.projectDetails #links h2 {
    margin-bottom: 0.2rem;
    text-decoration: underline 0.25rem solid #DBE8D4;
}

.projectDetails #links ul {
    margin-top: 0.2rem;
    padding: 0;
}

#screenshotWrapper {
    position: relative;
    width: 50%;
}

#screenshot {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 50%;
    z-index: 2;
    width: 100%;
    margin: 0;
}

#buttons button {
    background: transparent;
    border: none;
}

#buttons button:hover {
    color: #73CCA8;
}